body {
  background: #afa;
  color: #000;
  font-family:  "HelveticaNeue-UltraLight", "HelveticaNeue-Light", "helvetica neue", helvetica, arial, sans-serif;
  text-align: center;
  font-size: 144px;
}
