/* Buttons */
/* animation */
/* Main Colors */
/* Paddings */
/* line 6, ../../sass/inc/blog-post.scss */
.av-recent-post figure {
  margin: 0;
}
/* line 8, ../../sass/inc/blog-post.scss */
.av-recent-post figure img {
  width: 100%;
}
/* line 13, ../../sass/inc/blog-post.scss */
.av-recent-post .av-post-meta {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8em;
  border-bottom: 1px solid #f3f3f3;
}
/* line 19, ../../sass/inc/blog-post.scss */
.av-recent-post .av-post-meta p {
  margin: 5px 0;
}
/* line 26, ../../sass/inc/blog-post.scss */
.av-recent-post .av-post-content a h3 {
  margin: 20px 0 0 0;
  font-size: 1.2em;
  font-weight: 500;
  display: inline-block;
}

/* Blog Post List */
/* line 43, ../../sass/inc/blog-post.scss */
.av-entry {
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(138, 161, 179, 0.29);
  padding-bottom: 30px;
}
/* line 49, ../../sass/inc/blog-post.scss */
.av-entry .av-entry-thumb {
  margin: 0;
  max-height: 280px;
  overflow: hidden;
  position: relative;
}
/* line 57, ../../sass/inc/blog-post.scss */
.av-entry .av-entry-thumb .av-thumb-overlay a {
  height: 80px;
  width: 80px;
  line-height: 80px;
  background-color: #ff7859;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  border-radius: 80px;
  opacity: 0;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}
/* line 83, ../../sass/inc/blog-post.scss */
.av-entry .av-entry-thumb .av-thumb-overlay a:hover {
  background-color: #646c7f;
}
/* line 88, ../../sass/inc/blog-post.scss */
.av-entry .av-entry-thumb img {
  width: 100%;
}
/* line 92, ../../sass/inc/blog-post.scss */
.av-entry .av-entry-thumb:hover > .av-thumb-overlay a {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 104, ../../sass/inc/blog-post.scss */
.av-entry .av-entry-content .av-entry-meta {
  font-size: .7em;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* line 117, ../../sass/inc/blog-post.scss */
.av-entry .av-entry-content .av-entry-meta .av-entry-categories {
  margin-left: 10px;
  border-left: 1px solid #ff7859;
  padding-left: 10px;
}
/* line 125, ../../sass/inc/blog-post.scss */
.av-entry .av-entry-content .av-entry-meta .av-leave-comment-link {
  margin-left: 10px;
  border-left: 1px solid #ff7859;
  padding-left: 10px;
}
/* line 133, ../../sass/inc/blog-post.scss */
.av-entry .av-entry-content .av-entry-title {
  font-size: 1.6em;
  font-weight: 500;
  margin: 0;
}
/* line 144, ../../sass/inc/blog-post.scss */
.av-entry .av-read-more {
  display: inline-block;
  text-align: right;
  font-size: .7em;
  font-weight: 600;
  text-transform: uppercase;
}

/* end of av entry */
/* Post with Image */
/* Post with Gallery */
/* line 165, ../../sass/inc/blog-post.scss */
.av-post-format-gallery .av-cycle-container .cycle-slideshow {
  height: 300px;
  overflow: hidden;
}
/* line 169, ../../sass/inc/blog-post.scss */
.av-post-format-gallery .av-cycle-container .cycle-slideshow img {
  width: 100%;
}
/* line 176, ../../sass/inc/blog-post.scss */
.av-post-format-gallery .av-cycle-container .cycle-pager a img {
  width: 20% !important;
}

/* Post with Video */
/* line 186, ../../sass/inc/blog-post.scss */
.av-post-format-video .av-entry-video {
  margin: 0;
}
/* line 189, ../../sass/inc/blog-post.scss */
.av-post-format-video .av-entry-video iframe {
  width: 100%;
  border: none;
  height: 355px;
}

/* Post with Audio */
/* line 199, ../../sass/inc/blog-post.scss */
.av-post-format-audio .av-entry-audio {
  margin: 0;
}
/* line 202, ../../sass/inc/blog-post.scss */
.av-post-format-audio .av-entry-audio iframe {
  width: 100%;
  border: none;
}

/* Post with Quote */
/* line 213, ../../sass/inc/blog-post.scss */
.av-post-format-quote .av-post-entry blockquote {
  color: #fff;
  background-color: #646c7f;
  margin: 0;
}
/* line 217, ../../sass/inc/blog-post.scss */
.av-post-format-quote .av-post-entry blockquote p {
  margin: 0;
}

/* line 227, ../../sass/inc/blog-post.scss */
.av-sidebar {
  margin-bottom: 40px;
}

/* Pagination */
/* line 232, ../../sass/inc/blog-post.scss */
.av-pagination {
  margin: 40px 0;
}
/* line 235, ../../sass/inc/blog-post.scss */
.av-pagination .av-pages {
  padding: 0;
  margin: 0;
}
/* line 238, ../../sass/inc/blog-post.scss */
.av-pagination .av-pages li {
  display: inline-block;
  list-style: none;
}
/* line 242, ../../sass/inc/blog-post.scss */
.av-pagination .av-pages li a {
  padding: 6px 10px;
  background-color: #ff7859;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px 0 0;
}
