@import 'settings';

.av-hero-section{
    
    padding: 250px 0;
    
    *{ text-align: center; }
    
    .av-hero-title{
        text-transform: uppercase;
        margin: 0;
    }
    
    .av-hero-desc{
        font-size: 1em;
        margin: 0 0 20px 0;
        
        &:after{
            content: '';
            display: block;
            width: 100px;
            height: 1px;
            background-color: #fff;
            margin: 20px auto 10px;
        }
    }
    
    a{
        margin: 15px;
    }
}

@media ( max-width:480px){
    
    .av-hero-title{
        font-size: 1.7em;
    }

    .av-hero-desc{
        font-size: .8em;
    }

}


