// Typography Variables

$text-color:#646c7f  ; 
$link-color:#ff7859   ;
$hr-color:#dce3ef;
$muted-text-color: lighten($text-color, 30% );

$baseline: 1.5em;

$body-font-family: Helvetica, "Helvetica  Neue", Arial, sans-serif;

$h1-size: 3.3998em ;
$h2-size: 2.827em ;
$h3-size: 1.999em;
$h4-size: 1.414em;
$h5-size: 1em;
$h6-size: .707em;

/* Buttons */

$btn-roundness: 3px;

$btn-small-font-size: .75em;
$btn-large-font-size: 2em;

$btn-default-bg: #212428;
$btn-default-text-color: #fff;

$btn-primary-bg: #ff7859;
$btn-primary-text-color: #fff;

$btn-secondary-bg: #2eb9ea;
$btn-secondary-text-color: #fff;

$btn-light-bg: #f9f9f9 ;
$btn-light-text-color: #646464 ;

$btn-small-font-size: .7em;
$btn-large-font-size: 1.2em;


/* animation */

$medium-animation: all ease .5s;
$fast-animation: all ease .3s;
$btn-hover-animation: .4s ease all;


/* Main Colors */

$bg-primary: #ff7859;
$bg-secondary: #2eb9ea;
$bg-terciary: #f88b00;
$bg-darker: #333f50;
$bg-yellow: #f3c54a;

/* Paddings */

$low-pad: 1em;
$mid-pad: 2em;
$high-pad: 3em;
$huge-pad: 6em;
